USE [master]
GO
/****** Object:  Database [MEDSC]    Script Date: 27/8/2023 1:14:43 ******/
CREATE DATABASE [MEDSC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEDSC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MEDSC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEDSC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MEDSC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEDSC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEDSC]
GO
/****** Object:  User [adminSC]    Script Date: 27/8/2023 1:14:43 ******/
CREATE USER [adminSC] FOR LOGIN [adminSC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/8/2023 1:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_usuario] [varchar](10) NOT NULL,
	[Nom_usuario] [varchar](50) NOT NULL,
	[Ape_usuario] [varchar](50) NOT NULL,
	[Email_usuario] [varchar](40) NOT NULL,
	[User_nameU] [varchar](40) NOT NULL,
	[Passwd_user] [varchar](40) NOT NULL,
	[Tipo_usuario] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Medico Normal') FOR [Tipo_usuario]
GO
USE [master]
GO
